.box {
    margin: 0 auto;
    width: 65vw;
    height: 90vh;
    padding: 10px;
    background-position: 0 0;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('https://sun9-70.userapi.com/impf/c837439/v837439401/5512a/HYYaTRWrPcw.jpg?size=1280x975&quality=96&sign=ef504d9262a5429eaf1a8ababaf6e8d6&type=album');
}

/* .box {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    background: #27282c;
} */

.head {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 48px;
    font-weight: 700;
    width: 600px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    text-decoration: none;
    color: rgb(243, 148, 23);
    margin-bottom: 20px;
}

/* .item {
    background-color: rgba(0, 0, 0, 0.5);
    font-size: 32px;
    border-radius: 20px;
    padding: 10px;
    width: 300px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-bottom: 20px;
} */

.item {
    text-align: center;
    width: 400px;
    margin-bottom: 10px;
    position: relative;
    background: #444;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 1.5rem;
    letter-spacing: 0.1rem;
    padding: 0.75rem 1.5rem;
    transition: 0.5s;
}

.item:hover {
    letter-spacing: 0.25rem;
    background: #1e9bff;
    box-shadow: 0 0 35px #1e9bff;
}
